/* @override http://localhost:8080/media/css/base.css */
/* Main layout styles. */
body {
    font-family: "Helvetica Neue", HelveticaNeue, Arial, Helvetica, sans-serif;
    color: #111;
}
div#main-wrap {
    width: 62em;
    margin: 0 auto;
}
div#content {
    width: 48em;
    margin-bottom: 5em;
}

/* Link styles. */
a {
    text-decoration: none;
    color: #e50053;
}
a:hover {
    text-decoration: underline;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #111;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: #e50053;
    text-decoration: none;
}

/* Page header styles. */
#header {
    margin-top: 1.5em;
    margin-bottom: 3em;
    overflow: visible;
    white-space: nowrap;
}
#header h1 {
    letter-spacing: -3px;
    font-size: 3.5em;
    font-weight: normal;
    font-family: "Helvetica Neue", HelveticaNeue, Arial, Helvetica, sans-serif;
    margin-bottom: 0em;
}
#header span.page-title {
    color: #666;
    text-transform: lowercase;
}

/* Navigation bar styles. */
#nav {
    float: right;
    width: 10em;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 2em;
}
#nav ul li {
    list-style: none;
    border-bottom: 1px solid #eee;
}
#nav ul li:last-child {
    border-bottom: none;
}
#nav a {
    border: none;
    font-style: normal;
    color: #111;
}
#nav a:hover {
    color: #e50053;
    text-decoration: none;
}

/* Splash page styles. */
#splash-info {
    font-size: 1.5em;
    line-height: 2em;
    text-align: right;
    color: #888;
    font-family: "Helvetica Neue Light", HelveticaNeue-Light, Arial, Helvetica, sans-serif;
}
#splash-info ul li {
    margin: 0;
    list-style: none;
    border-bottom: 1px solid #eee;
}
#splash-info ul li:last-child {
    border-bottom: none;
}

/* Section listing styles. */
div#section-listing {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 2em;
    color: #888;
}
div#section-listing ol {
    list-style: none;
}
div#section-listing ol li {
    border-bottom: 1px solid #eee;
    margin: 0;
}
div#section-listing ol a {
    color: #111;
}
div#section-listing ol a:hover {
    color: #e50053;
    text-decoration: none;
}
div#section-listing ol li:last-child {
    border-bottom: none;
}
div#section-listing ol li span.snip {
    font-size: 0.65em;
    line-height: 1em;
    margin-left: 0.5em;
    font-weight: normal;
}

/* Code styles. */
code, pre {
    font-family: Consolas, Monaco, "Courier New", monospace;
    font-size: 12px;
    line-height: 21px;
}
p code, li code {
    border: 1px solid #ccc;
    background-color: #fafafa;
    padding: 1px 3px;
}
pre {
    border: 1px solid #ccc;
    background-color: #fafafa;
    padding: 0px 5px;
    margin-left: 2em;
    overflow: auto;
}

/* Quoting styles. */
blockquote {
    border: 1px solid #ccc;
    background-color: #fafafa;
    padding: 0px 5px;
    margin-left: 2em;
    overflow: auto;
}
blockquote p:last-child {
    margin-bottom: 0;
}

/* Table of Contents styles. */
div.toc ul {
    list-style: none;
}
div.toc ul:first-child>li {
    margin-left: 0em;
}

/* Ampersand styles. */
span.amp {
    font-family: "Palatino", "Constantia", "Palatino Linotype", serif;
    font-style: italic;
}
div#section-listing ol li a span.amp {
    font-weight: bold;
    line-height: 0.85em;
    font-size: 1.25em;
    color: inherit;
}
h1 span.amp, h2 span.amp, h3 span.amp, h4 span.amp, h5 span.amp, h6 span.amp {
    font-weight: bold;
    line-height: 0.5em;
    font-size: 1.25em;
    color: inherit;
    
}
span.page-title span.amp {
    font-weight: normal;
    font-size: 1.1em;
    line-height: 0.5em;
}

/* Article styles. */
div#leaf-stats p {
    color: #666;
    margin-top: -1em;
    margin-bottom: 1em;
}