/* @override http://localhost:8080/media/css/pygments-monokai-light.css */
.codehilite .hll { background-color: #49483e }
.codehilite .c { color: #75715e } /* Comment */
.codehilite .err { color: #960050; background-color: #1e0010 } /* Error */
.codehilite .k { color: #00a8c8} /* Keyword */
.codehilite .l { color: #ae81ff } /* Literal */
.codehilite .n { color: #111111 } /* Name */
.codehilite .o { color: #f92672 } /* Operator */
.codehilite .p { color: #111111 } /* Punctuation */
.codehilite .cm { color: #75715e } /* Comment.Multiline */
.codehilite .cp { color: #75715e } /* Comment.Preproc */
.codehilite .c1 { color: #75715e } /* Comment.Single */
.codehilite .cs { color: #75715e } /* Comment.Special */
.codehilite .ge { font-style: italic } /* Generic.Emph */
.codehilite .gs { font-weight: bold } /* Generic.Strong */
.codehilite .kc { color: #00a8c8 } /* Keyword.Constant */
.codehilite .kd { color: #00a8c8 } /* Keyword.Declaration */
.codehilite .kn { color: #f92672 } /* Keyword.Namespace */
.codehilite .kp { color: #00a8c8 } /* Keyword.Pseudo */
.codehilite .kr { color: #00a8c8 } /* Keyword.Reserved */
.codehilite .kt { color: #00a8c8 } /* Keyword.Type */
.codehilite .ld { color: #d88200 } /* Literal.Date */
.codehilite .m { color: #ae81ff } /* Literal.Number */
.codehilite .s { color: #d88200} /* Literal.String */
.codehilite .na { color: #75af00 } /* Name.Attribute */
.codehilite .nb { color: #111111 } /* Name.Builtin */
.codehilite .nc { color: #75af00 } /* Name.Class */
.codehilite .no { color: #00a8c8 } /* Name.Constant */
.codehilite .nd { color: #75af00 } /* Name.Decorator */
.codehilite .ni { color: #111111 } /* Name.Entity */
.codehilite .ne { color: #75af00 } /* Name.Exception */
.codehilite .nf { color: #75af00} /* Name.Function */
.codehilite .nl { color: #111111 } /* Name.Label */
.codehilite .nn { color: #111111} /* Name.Namespace */
.codehilite .nx { color: #75af00 } /* Name.Other */
.codehilite .py { color: #111111 } /* Name.Property */
.codehilite .nt { color: #f92672 } /* Name.Tag */
.codehilite .nv { color: #111111 } /* Name.Variable */
.codehilite .ow { color: #f92672 } /* Operator.Word */
.codehilite .w { color: #111111 } /* Text.Whitespace */
.codehilite .mf { color: #ae81ff } /* Literal.Number.Float */
.codehilite .mh { color: #ae81ff } /* Literal.Number.Hex */
.codehilite .mi { color: #ae81ff } /* Literal.Number.Integer */
.codehilite .mo { color: #ae81ff } /* Literal.Number.Oct */
.codehilite .sb { color: #d88200 } /* Literal.String.Backtick */
.codehilite .sc { color: #d88200 } /* Literal.String.Char */
.codehilite .sd { color: #d88200 } /* Literal.String.Doc */
.codehilite .s2 { color: #d88200 } /* Literal.String.Double */
.codehilite .se { color: #8045FF } /* Literal.String.Escape */
.codehilite .sh { color: #d88200 } /* Literal.String.Heredoc */
.codehilite .si { color: #d88200 } /* Literal.String.Interpol */
.codehilite .sx { color: #d88200 } /* Literal.String.Other */
.codehilite .sr { color: #d88200 } /* Literal.String.Regex */
.codehilite .s1 { color: #d88200 } /* Literal.String.Single */
.codehilite .ss { color: #d88200 } /* Literal.String.Symbol */
.codehilite .bp { color: #111111 } /* Name.Builtin.Pseudo */
.codehilite .vc { color: #111111 } /* Name.Variable.Class */
.codehilite .vg { color: #111111 } /* Name.Variable.Global */
.codehilite .vi { color: #111111 } /* Name.Variable.Instance */
.codehilite .il { color: #ae81ff } /* Literal.Number.Integer.Long */