-e svn+http://code.djangoproject.com/svn/django/branches/releases/1.1.X/#egg=django
-e git://github.com/fabric/fabric.git@0.9rc2#egg=fabric
-e svn+http://typogrify.googlecode.com/svn/trunk/#egg=typogrify
-e hg+http://bitbucket.org/cherrypy/cherrypy@cherrypy-3.2.0rc1#egg=cherrypy
-e git://gitorious.org/python-markdown/mainline.git#egg=markdown
-e git://github.com/lakshmivyas/hyde.git#egg=hyde

PyYAML
smartypants
Pygments
PIL
