{% extends "skeleton/_root.html" %}
{% block all %}
{%spaceless%}
<ul id="archives">
    {% for list_page in node.pages %}
    {% ifnotequal list_page node.listing_page %}
    {% if not list_page.exclude %}
    <li class="archives">
        <a href="{{list_page.url}}">
        {% with list_page.name_without_extension|remove_date_prefix|unslugify as default_title %}{{list_page.title|default_if_none:default_title }}{%endwith%}
        </a>
    </li>
    {%endif%}{% endifnotequal %}{% endfor %}
</ul>
{%endspaceless%}
{% endblock %}