{% extends "skeleton/_base.html"%}

{% block extra_header %}{% if page.node.categories %} / {% endif %}{% endblock %}

{% block after_header %}
    {% if page.node.categories %}
        <ul id="section-tags">
            <div class="section-tags-col">
            {% for category in page.node.categories.keys %}
                <li><a href="{{ page.url }}{{ category }}">{{ category }}</a></li>
                {% if forloop.counter|divisibleby:2 %}
                    {% if not forloop.last %}
                        </div><div class="section-tags-col">
                    {% endif %}
                {% endif %}
            {% endfor %}
            </div>
        </ul>
    {% endif %}
{% endblock %}

{% block content %}
    <div id="section-listing">
        <ol>
            {% for node in page.node.walk reversed %}
                {% include "skeleton/_innerlisting.html" %}
            {% endfor %}
        </ol>
    </div>
{% endblock %}