{% extends "skeleton/_base.html" %}
{% hyde
    title: "About"
%}

{% block content %}
    <img src="/media/images/self.jpg" class="self right" />

    <div id="leaf-title"><h1>{{ page.title|safe|typogrify }}</h1></div>
    
    <div id="leaf-content">
        {% filter typogrify %}
            {% markdown %}
I'm **Steve**. I'm from **[Rochester, NY][rochester]**.  
I do a lot of different things.

If you want to get in touch with me you can [email
me](mailto:steve@stevelosh.com) or find me on [BitBucket][], [GitHub][],
[Twitter][], [Forrst][], or [Flickr][].

[rochester]: http://rocwiki.org/
[Twitter]: http://twitter.com/stevelosh/
[Flickr]: http://www.flickr.com/photos/sjl7678/
[BitBucket]: http://bitbucket.org/sjl/
[GitHub]: http://github.com/sjl/
[Forrst]: http://forrst.com/people/stevelosh/


Programming
-----------

I went to [Rochester Institute of Technology](http://rit.edu/) for a degree in
Computer Science.

I've done a lot of different things in the field so far. Right now the things
that are captivating me are artificial intelligence and clean, simple,
*useful* web applications.

I find programming beautiful. That might sound strange, but there are aspects
of programming and math that I can't describe any other way.

You can take a look at my [projects][] to see some of the major stuff I've
worked on, or cut to the chase and look at [my BitBucket account][BitBucket].

[projects]: /projects/

Photography
----------

I like photographing people. Other things as well, but especially people.
I tend to gravitate toward the "art" aspects of photography more than the
"journalism" aspects, but I can appreciate both.

I shoot digital and film (35mm and medium format) depending on my time limits
and mood. I develop film in my bathroom and print it in a rented darkroom.
When I print digital I use a lab nearby; I don't have the money for a
professional printer just yet.

I post most of what I take on [my Flickr account][Flickr].

Dancing
-------

I teach blues dancing here in Rochester as part of [Lady Luck Blues][].
I started blues dancing a few years ago and haven't stopped since. My favorite
aspect of dancing is connection and blues seems to bring that out more than any
other dance.

I've also been swing dancing for about seven years. My first love is Lindy Hop; I
go to classes, workshops and exchanges as often as my schedule and budget will
allow.

Lately I've begun getting my feet wet in tango. Whether it'll ever become as
important to me as blues or Lindy remains to be seen.

[Lady Luck Blues]: http://ladyluckblues.com/

Music
-----

I play electric and upright bass. I've played in a metal band in the past, but
right now my focus is on jazz and blues.

I DJ at swing and blues dances fairly often. My taste is pretty broad, and
I'll cater to whatever the floor wants, but I tend to personally enjoy
slightly down-tempo, small-group music. Let me know if you need a DJ for a
dance.

About the Site
-----------

If you want to know more about my site you should check out the [blog
post][hyderewrite] about how I rewrote it.

[hyderewrite]: /blog/2010/01/moving-from-django-to-hyde/
            {% endmarkdown %}
        {% endfilter %}
    </div>
{% endblock %}
