{% extends "_flatpage.html" %}

{% hyde
    title: "Résumé"
    exclude: True
%}

{% block article %}

I'm Steve. I'm a programmer from Rochester, NY. I graduated from [Rochester
Institute of Technology][rit] in 2008 with a Bachelor's degree in [Computer
Science][ritcs].

I'm currently most interested in rapid web development, version control, and
artificial intelligence. I'm not looking for full time work at the moment but
I'm available for interesting freelance projects.

If you'd *really* like to get to know me you should look at the [projects][]
and [blog posts][] I've written, or cut to the chase and look at my [code][].

[rit]: http://rit.edu/
[ritcs]: http://www.cs.rit.edu/
[projects]: /projects/
[blog posts]: /blog/
[code]: http://bitbucket.org/sjl/

## Skills & Interests

I'm passionate about programming. It may sound odd, but there are aspects of
programming that I find beautiful (in every sense of the word).

### Languages

My favorite programming language at the moment is [Python][]. It's elegant,
readable, powerful, and makes it easy to *get things done*.

I've also had experience with [Java][], [C][], [C++][], [Lisp][], [SQL][] and
[PL/SQL][], [JavaScript][], [Groovy][], and [bash scripting][]. I've used a
number of markup and templating languages, including [XHTML][], [XML][],
[CSS][], [JSON][], [Markdown][], [Django][]'s template system, and [Jinja2][].

In my free time I'm working on learning [R][].

[Python]: http://www.python.org/
[Java]: http://java.sun.com/
[C]: http://en.wikipedia.org/wiki/C_(programming_language)
[C++]: http://en.wikipedia.org/wiki/C%2B%2B
[Lisp]: http://en.wikipedia.org/wiki/Lisp_(programming_language)
[SQL]: http://en.wikipedia.org/wiki/SQL
[PL/SQL]: http://en.wikipedia.org/wiki/PL/SQL
[JavaScript]: http://en.wikipedia.org/wiki/JavaScript
[Groovy]: http://groovy.codehaus.org/
[bash scripting]: http://www.gnu.org/software/bash/
[XHTML]: http://www.w3.org/TR/xhtml1/
[XML]: http://www.w3.org/XML/
[CSS]: http://www.w3.org/TR/CSS/
[JSON]: http://www.json.org/
[Markdown]: {{links.markdown}}
[Jinja2]: http://jinja.pocoo.org/2/
[R]: http://www.r-project.org/

### Web Development

For web development I gravitate toward the [Django][] framework. Django bills
itself as "The Web framework for professionals with deadlines" and this
strikes a chord with me.

I've used the [CherryPy][] framework for smaller (but still dynamic) projects
that don't need the additional functionality of Django.

I hate writing repetitive, difficult-to-maintain code. Even when writing
completely static websites I prefer to take advantage of templating languages.
To do that I use [Hyde][] and [Blatter][], both of which generate static HTML
from templates.

I've used several CSS frameworks including [Blueprint][], [Tripoli][] and
[aardvark legs][]. Of these I now prefer aardvark legs because it makes
setting up a beautiful vertical rhythm simple and doesn't impose itself on the
horizontal layout.

When writing [JavaScript][] I use [jQuery][] to eliminate a lot of the
tediousness and create elegant code.

[Django]: {{links.django}}
[CherryPy]: {{links.cherrypy}}
[Blueprint]: http://www.blueprintcss.org/
[Tripoli]: http://devkick.com/lab/tripoli/
[aardvark legs]: {{links.aardvarklegs}}
[Hyde]: http://github.com/lakshmivyas/hyde
[Blatter]: {{links.blatter}}
[jQuery]: http://jquery.com/

### Version Control

I think version control is essential for a project of almost any size, and
lately the concepts behind it have captured my interest.

In my personal work I use [Mercurial][] (usually with [BitBucket][]). I've
[contributed][] several minor patches to the Mercurial core and written two
extensions: [hg-prompt][] and [hg-paste][].

I know my way around [Subversion][], [CVS][], and [git][] as well.

[Mercurial]: {{links.mercurial}}
[BitBucket]: http://bitbucket.org/
[Subversion]: http://subversion.tigris.org/
[CVS]: http://www.nongnu.org/cvs/
[git]: http://git-scm.com/
[contributed]: http://selenic.com/repo/hg/log?rev=Steve+Losh
[hg-prompt]: /projects/hg-prompt/
[hg-paste]: /projects/hg-paste/

### How I Work

For my personal work I use [Mac OS X][]. I'm comfortable in [Linux][] and can
deal with [Windows][] (though I don't enjoy it).

I use [TextMate][] and [vim][] for coding, [CSSEdit][] when designing,
[Mercurial][] for version control, [t][] to manage my personal tasks, and
deploy through [SSH][] with [fabric][].

[Mac OS X]: http://www.apple.com/macosx/
[TextMate]: http://macromates.com/
[SSH]: http://en.wikipedia.org/wiki/Secure_Shell
[fabric]: {{links.fabric}}
[Linux]: http://www.linux.org/
[Windows]: http://www.microsoft.com/WINDOWS/
[vim]: http://www.vim.org/
[CSSEdit]: http://macrabbit.com/cssedit/
[t]: /projects/t/

## Personal Projects

You can find some of my pet projects on the [projects][] page.

Lately I've been working on a few new things that aren't quite ready for
general use, but are getting close:

* [hg-review][]: a code-review extension for Mercurial.
* [LindyHub][]: a site like BitBucket or GitHub for dancers.
* [gorilla][]: a packaging system for Python.
* [tinpan][]: a language-agnostic, vcs-agnostic continuous integration system.

[hg-review]: http://bitbucket.org/sjl/hg-review/
[LindyHub]: http://test.lindyhub.com/
[gorilla]: http://bitbucket.org/sjl/gorilla/
[tinpan]: http://bitbucket.org/sjl/tinpan/

## Full-Time Work Experience

I completed two six-month [co-ops][] while at [RIT][]. Since I graduated I've
worked full time for about a year and a half.

[co-ops]: https://www.rit.edu/about/coop_careers.html
[RIT]: http://rit.edu/

### Senior Software Engineer at [Dumbwaiter Design][DWD]

*Henrietta, NY since January 2010.*

At [Dumbwaiter][DWD] I work with our amazing designers to create beautiful websites backed by [Django][] and [Python][].

[DWD]: http://dwaiter.com/

### Software Engineer at [PAETEC][]

*Fairport, NY from June 2008 to January 2010.*

At [PAETEC][] I maintained and implemented new features for web applications
in [Java][] using the [Oracle E-Business Suite][oebs] and worked on underlying
[SQL][] and [PL/SQL][] code for our databases.

[PAETEC]: http://paetec.com/
[oebs]: http://www.oracle.com/applications/e-business-suite.html

### Data Architecture Co-op at [Excellus BlueCross BlueShield][]

*Rochester, NY from June 2007 to November 2007.*

At [Excellus][] I developed software in [Java][] to interact with and manage
databases of customer and provider information stored on a mainframe. I also
created and updated [JUnit][] and [Jemmy][] tests for this software.

[Excellus BlueCross BlueShield]: https://www.excellusbcbs.com/
[Excellus]: https://www.excellusbcbs.com/
[JUnit]: http://www.junit.org/
[Jemmy]: http://jemmy.dev.java.net/

### Managed Services Programmer at [RightNow Technologies][]

*Pittsford, NY from June 2006 to November 2006.*

At [RightNow][] I developed a set of tools to test the effectiveness of
voice-automated telephone systems. These tools were written in a combination
of [bash scripting][] and [Python][]. I assisted in generating statistics
about the effectiveness of these systems for customers.

[RightNow Technologies]: http://www.rightnow.com/
[RightNow]: http://www.rightnow.com/

## Contact Me

If you'd like to get in touch with me, you can use any method you like.

My **email address** is: <steve@stevelosh.com>  
My **phone number** is: (570) 417-1392  
My **skype username** is: steve.losh  
My **mailing address** is: 150 Park Avenue, Apartment 7, Rochester, NY 14607

You can also find me on [Twitter][], [Flickr][], [BitBucket][], [GitHub][],
[BrightKite][], or [DjangoPeople][].

[Twitter]: http://twitter.com/stevelosh/
[Flickr]: http://www.flickr.com/photos/sjl7678/
[BitBucket]: http://bitbucket.org/sjl/
[GitHub]: http://github.com/sjl/
[BrightKite]: http://brightkite.com/people/stevelosh/
[DjangoPeople]: http://djangopeople.net/stevelosh/

{% endblock %}
