    {% extends "_post.html" %}

    {% hyde
    title: "Bad Wolf"
    snip: "A Vim color scheme."
    created: 2012-02-12 15:06:01
    exclude: False
    %}

    {% block article %}

Bad Wolf is a Vim colorscheme pieced together from various colors I like.

> I am the Bad Wolf. I create myself.  
> I take the words. I scatter them in time and space.  
> A message to lead myself here.

You can [download][] the raw file, or use Pathogen with the [Mercurial
repository][hg] or the [Git repository][git].

[download]: http://bitbucket.org/sjl/badwolf/raw/tip/colors/badwolf.vim
[hg]: http://bitbucket.org/sjl/badwolf/
[git]: http://github.com/sjl/badwolf/

Screenshots
-----------

These screenshots may be out of date, but they'll at least give you a taste of
what you're in for.


### Python

<div class="screenshots">
    <a href="http://i.imgur.com/fQGGC.png"><img src="http://i.imgur.com/fQGGC.png" alt="screenshot"></a>
</div>

### HTML (Django Templates)

<div class="screenshots">
    <a href="http://i.imgur.com/LgLar.png"><img src="http://i.imgur.com/LgLar.png" alt="screenshot"></a>
</div>

### Clojure

<div class="screenshots">
    <a href="http://i.imgur.com/THHz7.png"><img src="http://i.imgur.com/THHz7.png" alt="screenshot"></a>
</div>

### Markdown

<div class="screenshots">
    <a href="http://i.imgur.com/J56VS.png"><img src="http://i.imgur.com/J56VS.png" alt="screenshot"></a>
</div>


    {% endblock %}
