    {% extends "_post.html" %}

    {% hyde
    title: "Bad Wolf"
    snip: "A Vim color scheme."
    created: 2012-02-03 20:00:01
    exclude: True
    %}

    {% block article %}

Bad Wolf is a Vim colorscheme pieced together from various colors I like.

> I am the Bad Wolf. I create myself.  
> I take the words. I scatter them in time and space.  
> A message to lead myself here.

You can [download][] the raw file, or use Pathogen with the [Mercurial
repository][hg] or the [Git repository][git].

[download]:
[hg]: http://bitbucket.org/sjl/badwolf/
[git]: http://github.com/sjl/badwolf/

    {% endblock %}
