{% extends "_post.html" %}

{% hyde
title: "Clam"
snip: "A Vim plugin for working with shell commands."
created: 2012-04-07 20:00:01
exclude: False
%}

{% block article %}

[Clam][] is a small, lightweight Vim plugin for working with shell commands more
easily.

It's open source (MIT/X11 licensed) on [BitBucket][] and [GitHub][].

<iframe src="http://www.screenr.com/embed/2Z18" width="610" height="396" frameborder="0"></iframe>

[Clam]: http://vim-doc.heroku.com/view?https://raw.github.com/sjl/clam.vim/master/doc/clam.txt
[BitBucket]: http://bitbucket.org/sjl/clam.vim/
[GitHub]: http://github.com/sjl/clam.vim/

{% endblock %}


