    {% extends "_post.html" %}

    {% hyde
        title: "clojure-postmark"
        snip: "Use Postmark from Clojure."
        created: 2011-10-10 00:00:03
        exclude: False
    %}

    {% block article %}

[clojure-postmark][] lets you talk to [Postmark][] from [Clojure][].

It's open source (MIT/X11 licensed) on [BitBucket][] and [GitHub][].

[clojure-postmark]: http://sjl.bitbucket.org/clojure-postmark/
[Postmark]: http://postmarkapp.com/
[Clojure]: http://clojure.org/
[BitBucket]: http://bitbucket.org/sjl/d/
[GitHub]: http://github.com/sjl/d/

    {% endblock %}

