{% extends "_post.html" %}

{% hyde
    title: "Fuego"
    snip: "Photographs of Alex. Studio."
    created: 2009-01-19 01:25:20
%}

{% block article %}

<div class="gallery">
	<img src="/media/images/projects/{{ page.page_name }}/Fuego-4852.jpg" />
	<img src="/media/images/projects/{{ page.page_name }}/Fuego-4887.jpg" />
	<img src="/media/images/projects/{{ page.page_name }}/Fuego-4919.jpg" />
	<img src="/media/images/projects/{{ page.page_name }}/Fuego-4941.jpg" />
	<img src="/media/images/projects/{{ page.page_name }}/Fuego-4985.jpg" />
	<img src="/media/images/projects/{{ page.page_name }}/Fuego-5133.jpg" />
</div>

I really like how these turned out.  One of them is hanging in my apartment.

{% endblock %}