{% extends "_post.html" %}

{% hyde
    title: "Fuego"
    snip: "Photographs of Alex. Studio."
    created: 2009-01-19 01:25:20
    exclude: True
%}

{% block article %}

{% spaceless %}

<div class="gallery">
    <a href="/media/images/projects/{{ page.page_name }}/Fuego-4852.jpg" rel="fuego">
        <img src="/media/images/projects/{{ page.page_name }}/Fuego-4852-thumb.jpg" />
    </a>
    <a href="/media/images/projects/{{ page.page_name }}/Fuego-4887.jpg" rel="fuego">
        <img src="/media/images/projects/{{ page.page_name }}/Fuego-4887-thumb.jpg" />
    </a>
    <a href="/media/images/projects/{{ page.page_name }}/Fuego-4919.jpg" rel="fuego">
        <img src="/media/images/projects/{{ page.page_name }}/Fuego-4919-thumb.jpg" />
    </a>
    <a href="/media/images/projects/{{ page.page_name }}/Fuego-4941.jpg" rel="fuego">
        <img src="/media/images/projects/{{ page.page_name }}/Fuego-4941-thumb.jpg" />
    </a>
    <a href="/media/images/projects/{{ page.page_name }}/Fuego-4985.jpg" rel="fuego">
        <img src="/media/images/projects/{{ page.page_name }}/Fuego-4985-thumb.jpg" />
    </a>
    <a href="/media/images/projects/{{ page.page_name }}/Fuego-5133.jpg" rel="fuego">
        <img src="/media/images/projects/{{ page.page_name }}/Fuego-5133-thumb.jpg" />
    </a>
</div>

{% endspaceless %}

Letting go.

{% endblock %}
