{% extends "_post.html" %}

{% hyde
    title: "hg-prompt"
    snip: "A Mercurial extension for adding repository info to your shell prompt."
    created: 2009-06-19 22:25:17
%}

{% block article %}

hg-prompt adds an 'hg prompt' command to Mercurial for viewing repository
information. It's designed to be used in a shell prompt. You can grab the code
from [the repository on BitBucket](http://bitbucket.org/sjl/hg-prompt/).

Check out the [documentation][docs] to find out how to use it.

Here's what it looks like:

![My bash prompt while using hg-prompt.](/media/images/projects/{{ page.page_name }}/prompt.png "My bash prompt while using hg-prompt.")

[docs]: http://sjl.bitbucket.org/hg-prompt/

Questions, Comments, Suggestions
--------------------------------

The code was kind of thrown together in one night after I got tired of
chaining three or four hg runs together to get what I wanted. I'm sure it's
not perfect, so if you've got a way to improve it please [add an
issue](http://bitbucket.org/sjl/hg-prompt/issues/) and let me know.

{% endblock %}
