{% extends "_post.html" %}

{% hyde
title: "Typkov"
snip: "Create typing lessons from your own writing."
created: 2012-01-23 00:00:01
exclude: False
%}

{% block article %}

[Typkov](http://typkov.stevelosh.com) is a simple webapp that generates typing
lessons from your own writing.

Instead of practicing random words from the dictionary you can practice with the
kind of stuff you actually write in real life. It works surprisingly well.

It's open source (MIT/X11 licensed) on [BitBucket][] and [GitHub][].

I also [recorded myself][rec] as I made the initial version, so if you like
watching programmers work you might like that (though I'm pretty new to
Clojure/Noir).

[BitBucket]: http://bitbucket.org/sjl/typkov/
[GitHub]: http://github.com/sjl/typkov/
[rec]: http://youtu.be/uTwnoZEw7FE

{% endblock %}
