{% extends "_post.html" %}

{% hyde
title: "Vitality"
snip: "Make Vim play nicely with iTerm 2 and tmux."
created: 2012-04-12 20:00:01
exclude: False
%}

{% block article %}

[Vitality][] is a Vim plugin that makes Vim play more nicely with iTerm 2 and tmux.

It's open source (MIT/X11 licensed) on [BitBucket][] and [GitHub][].

[Vitality]: http://vim-doc.heroku.com/view?https://raw.github.com/sjl/vitality.vim/master/doc/vitality.txt
[BitBucket]: http://bitbucket.org/sjl/vitality.vim/
[GitHub]: http://github.com/sjl/vitality.vim/

{% endblock %}


