{% extends "_post.html" %}

{% hyde
    title: "Women in Water"
    snip: "Photographs of women in Lake Ontario."
    created: 2009-08-04 18:57:36
    exclude: True
%}

{% block article %}

<div class="gallery">
    <a href="/media/images/projects/{{ page.page_name }}/erin-tele.jpg" rel="wiw">
        <img src="/media/images/projects/{{ page.page_name }}/erin-tele-thumb.jpg" />
    </a>
    <a href="/media/images/projects/{{ page.page_name }}/alex-tele.jpg" rel="wiw">
        <img src="/media/images/projects/{{ page.page_name }}/alex-tele-thumb.jpg" />
    </a>
    <a href="/media/images/projects/{{ page.page_name }}/lizza-tele.jpg" rel="wiw">
        <img src="/media/images/projects/{{ page.page_name }}/lizza-tele-thumb.jpg" />
    </a>
    <a href="/media/images/projects/{{ page.page_name }}/leah-tele.jpg" rel="wiw">
        <img src="/media/images/projects/{{ page.page_name }}/leah-tele-thumb.jpg" />
    </a>
    <a href="/media/images/projects/{{ page.page_name }}/anna-tele.jpg" rel="wiw">
        <img src="/media/images/projects/{{ page.page_name }}/anna-tele-thumb.jpg" />
    </a>
    <a href="/media/images/projects/{{ page.page_name }}/erin-wide.jpg" rel="wiw">
        <img src="/media/images/projects/{{ page.page_name }}/erin-wide-thumb.jpg" />
    </a>
    <a href="/media/images/projects/{{ page.page_name }}/alex-wide.jpg" rel="wiw">
        <img src="/media/images/projects/{{ page.page_name }}/alex-wide-thumb.jpg" />
    </a>
    <a href="/media/images/projects/{{ page.page_name }}/lizza-wide.jpg" rel="wiw">
        <img src="/media/images/projects/{{ page.page_name }}/lizza-wide-thumb.jpg" />
    </a>
    <a href="/media/images/projects/{{ page.page_name }}/leah-wide.jpg" rel="wiw">
        <img src="/media/images/projects/{{ page.page_name }}/leah-wide-thumb.jpg" />
    </a>
    <a href="/media/images/projects/{{ page.page_name }}/anna-wide.jpg" rel="wiw">
        <img src="/media/images/projects/{{ page.page_name }}/anna-wide-thumb.jpg" />
    </a>
</div>

This is still a work in progress.

{% endblock %}
