{% extends "_post.html" %}

{% hyde
    title: "Women in Water"
    snip: "Photographs of women in Lake Ontario."
    created: 2009-08-04 18:57:36
%}

{% block article %}

<div class="gallery">
    <img src="/site-media/storage/projects/2009-08-04-women-in-water/erin-tele.jpg" />
    <img src="/site-media/storage/projects/2009-08-04-women-in-water/alex-tele.jpg" />
    <img src="/site-media/storage/projects/2009-08-04-women-in-water/lizza-tele.jpg" />
    <img src="/site-media/storage/projects/2009-08-04-women-in-water/leah-tele.jpg" />
    <img src="/site-media/storage/projects/2009-08-04-women-in-water/anna-tele.jpg" />
    <img src="/site-media/storage/projects/2009-08-04-women-in-water/erin-wide.jpg" />
    <img src="/site-media/storage/projects/2009-08-04-women-in-water/alex-wide.jpg" />
    <img src="/site-media/storage/projects/2009-08-04-women-in-water/lizza-wide.jpg" />
    <img src="/site-media/storage/projects/2009-08-04-women-in-water/leah-wide.jpg" />
    <img src="/site-media/storage/projects/2009-08-04-women-in-water/anna-wide.jpg" />
</div>

This is still a work in progress.

{% endblock %}