{% extends "skeleton/_base.html" %}

{% block extra_css %}
    <link rel="stylesheet"
          href="{{ site.url }}/media/css/pygments-monokai-light.css"
          type="text/css" media="screen" charset="utf-8" />
{% endblock %}

{% block content %}
    <div id="leaf-title">
        <h1><a href="{{ page.url }}">{{ page.title|safe|typogrify }}</a></h1>
    </div>
    
    <div id="leaf-stats">
        <p>
            Posted {{ page.created|timesince }} ago on {{ page.created|date:"F j, Y" }}
            {% if page.categories %}
                and tagged as
{% for category in page.categories %}{% if not forloop.first %}{% if forloop.last %} and {% else %}, {% endif %}{% endif %}<a href="{{ page.node.ancestors.1.url }}/{{ category }}/">{{ category }}</a>{% endfor %}.
            {% endif %}
        </p>
    </div>
    
    <div id="leaf-content">
        {% filter typogrify %}
            {% article %}
                {% filter typogrify %}
                    {% markdown toc def_list codehilite %}
                        {% block article %}{% endblock %}
                    {% endmarkdown %}
                {% endfilter %}
            {% endarticle %}
        {% endfilter %}
    </div>
    
    <h1 id="comment-header">Comments</h1>
    
    <div id="disqus_thread"></div>
    <script type="text/javascript" src="http://disqus.com/forums/stevelosh/embed.js"></script>
    <noscript>
        <a href="http://disqus.com/forums/stevelosh/?url=ref">View the discussion thread.</a>
    </noscript>
    <a href="http://disqus.com" class="dsq-brlink">
        comments powered by
        <span class="logo-disqus">Disqus</span>
    </a>
{% endblock %}