{% extends "skeleton/_base.html" %}

{% block content %}
    <div id="leaf-title">
        <h1><a href="{{ page.url }}">{{ page.title|safe|typogrify }}</a></h1>
    </div>
    
    <div id="leaf-stats"><p>Posted on {{ page.created|date:"l, F j, Y" }} ({{ page.created|timesince }} ago).</p></div>
    
    <div id="leaf-content">
        {% filter typogrify %}
            {% article %}
                {% filter typogrify %}
                    {% markdown toc def_list %}
                        {% block article %}{% endblock %}
                    {% endmarkdown %}
                {% endfilter %}
            {% endarticle %}
        {% endfilter %}
    </div>
{% endblock %}