{% extends "skeleton/_base.html" %}

{% block extra_css %}
    <link rel="stylesheet"
          href="{{ site.url }}/media/css/pygments-monokai-light.css"
          type="text/css" media="screen" charset="utf-8" />
{% endblock %}

{% block content %}
    <div id="leaf-title">
        <h1><a href="{{ page.url }}">{{ page.title|safe|typogrify }}</a></h1>
    </div>


    <div id="leaf-stats" class="group">
        {% if page.flattr %}
            <div class="flattr">
                <a class="FlattrButton"
                    style="display: none;"
                    title="{{ page.title|safe }}"
                    data-flattr-category="text"
                    data-flattr-button="compact"
                    href="http://stevelosh.com{{ page.url }}">Flattr</a>
                <iframe style="border: 0; margin: 2px 0 -2px 0; padding: 0; margin-top: 2px;"
                        src="https://www.gittip.com/sjl/widget.html"
                        width="48pt" height="22pt"></iframe>
            </div>

        {% endif %}
        <p>
            Posted
            <span class="timeago"
                  title="{{ page.created|date:"Y-m-d" }}T{{ page.created|date:"H:i:s" }}-0400">
            </span>
            on {{ page.created|date:"F j, Y" }}.
        </p>
    </div>

    <div id="leaf-content" class="{% block article_class %}{% endblock %}">
        {% filter typogrify %}
            {% article %}
                {% filter typogrify %}
                    {% markdown toc def_list codehilite %}
                        {% block article %}{% endblock %}
                    {% endmarkdown %}
                {% endfilter %}
            {% endarticle %}
        {% endfilter %}
    </div>
{% endblock %}
