div#mb-rendered-note h1 {font-size:2em;margin-bottom:0.75em;}
div#mb-rendered-note h2 {font-size:1.5em;line-height:1;margin-bottom:1em;}
div#mb-rendered-note h3 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
div#mb-rendered-note h4 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
div#mb-rendered-note h5 {font-size:1em;font-weight:bold;}
div#mb-rendered-note h6 {font-size:1em;font-weight:bold;}

p#mb-navigation { margin-top: -1em; }

span.mb-note-list-title { font-weight: bold; margin-right: 1em; }
span.mb-note-list-snip { color: #888; }

form#mb-note-create h1 input { width: 81%; }
form#mb-note-create p textarea { width: 80%; }
input#mb-note-create-submit { font-size: 3em; }
