div.projects-list-entry {
    border-bottom: 1px solid #eee;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    -webkit-text-size-adjust: none;
}

h2.projects-list-entry-title {
    display: inline;
}

p.projects-list-entry-snip {
    display: inline;
    padding-left: 1em;
    color: #666;
}



div#projects-project-date {
    margin: 0em;
    margin-bottom: 2em;
    color: #666;
}

h1#projects-project-name {
    margin-bottom: 0.1em;
}

div#projects-project {
    margin-bottom: 1.5em;
}


div#projects-project-comments {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

div#projects-project-new-comment {
    margin-top: 1.5em;
}

div.projects-project-comment-body {
    margin-left: 2em;
}

div.wmd-preview {
    margin-left: 2em;
}

div.projects-project-comment-body h1, .wmd-preview h1 {
    font-size: 1.4em;
}

div.projects-project-comment-body h2, .wmd-preview h2 {
    font-size: 1.2em;
}

input#projects-new-comment-name {
    width: 40%;
    margin-right: 1em;
}

input#projects-new-comment-submit {
    margin-top: 1em;
}

p#projects-new-comment-body-area {
    margin-bottom: 0em;
}

p#projects-new-comment-instructions {
    margin-top: 0em;
}

span#projects-new-comment-invalid-body {
    float: right;
}

#projects-new-comment-name-area label.invalid {
    display: inline;
}

#projects-new-comment-body-area label.invalid {
    float: right;
}