div.splash-list-entry {
    border-bottom: 1px solid #eee;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    text-align: right;
}

#splash-list h2 {
    display: inline;
    color: #666;
    font-weight: normal;
    -webkit-text-size-adjust: none;
}