div.splash-list-entry {
    border-bottom: 1px solid #eee;
    height: 3em;
    text-align: right;
}

#splash-list h2 {
    display: inline;
    color: #666;
    font-weight: normal;
    font-size: 1.5em;
    line-height: 2em;
    -webkit-text-size-adjust: none;
    margin: 0em;
}