{% extends "messengerbag/base.html" %}
{% load typogrify %}
{% load markup %}

{% block title %}Create a Note{% endblock %}

{% block content %}
    <form id="mb-note-create" action="" method="post">
        <h1>{{ form.title }}</h1>
        {% for error in form.title.errors %}
            <p class="mb-error">{{ error }}</p>
        {% endfor %}
        
        <p>{{ form.body }}</p>
        {% for error in form.body.errors %}
            <p class="mb-error">{{ error }}</p>
        {% endfor %}
        
        <input id="mb-note-create-submit" type="submit" value="Create" />
    </form>
{% endblock %}