{% extends "flatpages/default.html" %}
{% load typogrify %}

{% block style %}
	<link rel="stylesheet" href="/site-media/style/splash.css" 
		  type="text/css"/>
{% endblock %}

{% block content %}
{% filter typogrify %}
	<div id="splash-list">
		<div class="splash-list-entry">
			<h2>I like writing. &raquo;</h2>
		</div>
		<div class="splash-list-entry">
			<h2>Things I've made. &raquo;</h2>
		</div>
		<div class="splash-list-entry">
			<h2>Too small to blog, too big to tweet. &raquo;</h2>
		</div>
		<div class="splash-list-entry">
			<h2>Who am I and what is this site? &raquo;</h2>
		</div>
		<div class="splash-list-entry">
			<h2>Stay up to date. &raquo;</h2>
		</div>
	</div>
{% endfilter %}
{% endblock %}