{% extends "flatpages/default.html" %}
{% load typogrify %}

{% block style %}
    <link rel="stylesheet" href="/site-media/style/splash.css" 
          type="text/css"/>
{% endblock %}

{% block content %}
{% filter typogrify %}
    <div id="splash-list">
        <div class="splash-list-entry">
            <h2>I like writing. &raquo;</h2>
        </div>
        <div class="splash-list-entry">
            <h2>One photo per day. &raquo;</h2>
        </div>
        <div class="splash-list-entry">
            <h2>Some things I've made. &raquo;</h2>
        </div>
        <div class="splash-list-entry">
            <h2>More about me. &raquo;</h2>
        </div>
        <div class="splash-list-entry">
            <h2>Tasty feeds. &raquo;</h2>
        </div>
    </div>
{% endfilter %}
{% endblock %}